@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}
.wrapper {
    background: url(images/clouds1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,4)
}
.logo {
    width: 150px;
    height: auto;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 6px 13px;
    font-family: 'Mukta';
} 
.navbar ul li a.active,
.navbar ul li a:hover{
    background: #922A27;
    border-radius: 2px;
}
.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.center h1, .center h2, .center .buttons {
    margin-top: 150px;
}

.center h1 {
    color: #922A27;
    font-size: 48px;
    font-weight: bold;
    width: absolute;
    text-align: center;
    margin-top: 450px;
    font-family: 'Cabin Sketch';
}
.center h2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: absolute;
    margin-top: 15px;
    text-align: center;
    font-family: 'Mukta';
}
.logo {    
    position: absolute;
    margin-right: 75%;
}

.door1 {
    position: center;
    height: 100px;
    width: 500px;
    margin-left: 250px;
    margin-top: 25px;
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;

}
.door2 {
    position: center;
    height: 100px;
    width: 500px;
    margin-left: 250px;
    margin-top: -390px;
}

.door1, .door2, .door3 {
   align-content: center;
   margin-left: 230px;
}


@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }  